* {
  padding: 0;
  margin: 0;
}

table thead tr {
  width: 100%;
  height: auto;
  display: flex;
}
table thead th {
  color: rgba(255, 0, 0, 1);
  padding: 20px 20px 20px 0px;
  background-color: yellow;
  text-align: center !important;
  font-size: 18px;
}

.container {
  width: 100%;
  height: auto;
  text-align: center;
  float: left;
}

.footer-pera {
  margin: 40px 0px 40px 0px;
}
.getTouch {
  width: 24%;
  height: auto;
  display: inline;
}

.gt1 {
  /* margin: 38px 0px; */
  padding: 16px 0px 20px 1px;
  text-align: left;
  display: inline-block;
}
.gt1 h5 {
  font-size: 18px;
}

.gt1 address {
  text-align: justify;
  margin-left: 0px;
}

.gt1 hr {
  width: 280px;
  margin: 15px 0px;
  height: 2px;
  background-color: tomato;
}

.gt2 {
  margin: 38px 0px;
  padding: 16px 0px 20px 1px;
  text-align: left;
  display: inline-block;
}
.gt2 h5 {
  font-size: 18px;
}

.gt2 hr {
  width: 280px;
  margin: 15px 0px;
  height: 2px;
  background-color: tomato;
}

.gt3 {
  display: inline-block;
}
.gt3 h5 {
  font-size: 18px;
  text-align: left;
}

.gt3 ul {
  text-align: left;
  margin-left: 0px;
}

.gt3 hr {
  width: 280px;
  margin: 15px 0px;
  height: 2px;
  background-color: tomato;
}

.gt4 {
  display: inline-block;
}

.gt4 h5 {
  font-size: 18px;
  text-align: left;
}
.gt4 hr {
  width: 280px;
  margin: 15px 0px;
  height: 2px;
  background-color: tomato;
}

.gt4 form {
  text-align: left;
}

.gt4 form input {
  width: 260px;
  padding: 15px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 15px;
  background-color: rgba(240, 255, 255, 0.192);
}

.gt4 form button {
  margin: 10px 0px;
  width: auto;
  padding: 15px 96px;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background-color: rgb(231, 169, 54);
  border: none;
  border-radius: 10px;
}

.gt4 p {
  text-align: justify;
  padding: 10px 0px;
  font-size: 18px;
}
